{% extends 'base.html' %}
{% load static %}
{% block content %}

 <!-- Page Content -->
        <div id="page-content-wrapper">
            <a href="#menu-toggle" class="menuopener" id="menu-toggle"><i class="fa fa-bars"></i></a>
			
            <div class="all-page-bar all-page-bar-about">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="title title-1 text-center">
								<div class="title--heading">
									<h1>About</h1>
								</div>
								<div class="clearfix"></div>
								<ol class="breadcrumb">
									<li><a href="/">Home</a></li>
									<li class="active">About</li>
								</ol>
								<div class="much">
									<img src="{% static 'images/professor.png' %}" style="width:20%" alt=""/>
								</div>
							</div>
							<!-- .title end -->
						</div>
					</div>
				</div>
			</div><!-- end all-page-bar -->

            <section class="section nopad cac text-center">
                <a href="/ratings"><h3>Get started with the ratings!</h3></a>
            </section>

            <div class="section wb">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <div class="message-box">
                                <h4>Overview</h4>
                                <h2>What is this website?</h2>
                                <p class="lead">My aim is for us all to live comfortably</p>

                                <p> This website is intended to be used by residents of van Oldenbarneveldstraat 6 and its sub-houses on that street. You can rate aspects (e.g. internet, showers, noise) of our house that are supposed to be well maintained by our landlord. These ratings are depicted with figures to show statistics of how a certain aspect is doing. These statistics can then be used by our landlord for early detection of faulty apsects. Are there many low ratings for internet this week? Must be a sign! Furthermore, we can use the power of numbers to argue that something is wrong to our landlord. </p>

                                <p>Ofcourse, this website is not meant to be negative. If aspects are good, feel free to rate them as perfect!</p>
                            </div><!-- end messagebox -->
                        </div><!-- end col -->
                    </div><!-- end row -->
					
					<hr class="hr1"> 
					
					<div class="row">
						<div class="col-md-12">
							<div class="about-tab">
								<ul class="nav nav-tabs">
									<li class="active"><a href="#tab_a" data-toggle="tab">Origins</a></li>
									<li><a href="#tab_b" data-toggle="tab">Anonymouse</a></li>
									<li><a href="#tab_c" data-toggle="tab">About Me</a></li>								
								</ul>
								<div class="tab-content">
									<div class="tab-pane fade in active" id="tab_a">
										<p>This project started around October 2019, when I noticed internet had been unstable for about 2 months. Our residents all seemed aware and annoyed by this. One resident went to our landlord, who said no one told him. Nothing happened. Later, I too told the landlord and he seemed bedazzled. Two people might be enough for this to be a real problem? While in reality, most of us are aware of the issue! </p>
										<p>Most of us don't go to the landlord for issues we experience ahere at home. For me, it's just too much effort to care. This website would be a very low threshold of action to let the landlord know something's up. With many raters in our house, we have numbers on our site to push the fixing of stuff!</p>
									</div>
									<div class="tab-pane fade" id="tab_b">
										<p>As of now, anyone can rate on this website. You don't need an account. This way of rating is based on the assumption that there is very little ill intention to mess these statistics from others. In addition, this no need for an account makes an even lower threshold to rate some aspects of the house!</p>
									</div>
									<div class="tab-pane fade" id="tab_c">
										<p>I'm a fellow redisent of van Oldenbarneveldstraat 6 / Graafseweg 22. </p>
									</div>
								</div><!-- tab content -->
							</div>
						</div><!-- end col -->
					</div><!-- end row -->
					
                    <hr class="hr1"> 

                 
                </div><!-- end container -->
            </div><!-- end section -->


{% endblock %}