<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>{% block title %}ratethepauper - Stichting Kamer Centrum Nijmegen {% endblock %}</title>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
{% load compress %}

{% compress css %}
    <link type="text/x-scss" href="{% static 'css/base.scss' %}" rel="stylesheet" media="screen">
{% endcompress %}


<body>
	{% include 'navbar.html' %}
	
	<p>Hello you fool i love you {% static 'boombaby.png' %}  </p>

	{% block content %}
	replace me
	{% endblock %}
</body>
</html>