 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="copyrights">
    <div class="container-fluid">
        <div class="footer-distributed">
            <div class="footer-left">
                <p class="footer-links">
                    <a href="/">Home</a>
                    <a href="https://github.com/Iglohut/ratethepauper">Source Code</a>

                </p>
                <p class="footer-company-name"> &copy; ratethepauper Developed By: <a href="https://github.com/Iglohut/">Iglohut</a></p>
            </div>

            <div class="footer-right">
                <form method="get" action="#">
                    <input placeholder="Leave a comment..." name="search">
                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                </form>
            </div>
        </div>
    </div><!-- end container -->
</div><!-- end copyrights -->