{% load static %}
	    <!-- LOADER -->
    <div id="preloader">
        <div class="cube-wrapper">
		  <div class="cube-folding">
			<span class="leaf1"></span>
			<span class="leaf2"></span>
			<span class="leaf3"></span>
			<span class="leaf4"></span>
		  </div>
		  <span class="loading" data-name="Loading">ratethepauper Loading</span>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->

    <div id="wrapper">

        <!-- Sidebar-wrapper -->
        <div id="sidebar-wrapper">
			<div class="side-top">
				<div class="logo-sidebar">

					<a href="/"><img src="{% static 'images/images/logos/logo.png' %}" alt="image" style="width:100%"></a>
				</div>
				<ul class="sidebar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/ratings">Ratings</a></li>
					<li><a href="/about">About</a></li>

				</ul>
			</div>
        </div>
        <!-- End Sidebar-wrapper -->
  <script src="{% static 'js/navbar.js' %}"></script>
