
/** ADD YOUR AWESOME CODES HERE **/
@media (min-width: 500px) {
.stats-container {
	margin-left: 8%;
	margin-right: 8%;
}}

.btn-submission {
	padding-left: 30%;
	padding-right: 30%;
}


.ratenumber {
	font-size: 1.5em !important;
	padding-left: 1%;
	padding-right:1%;
	padding-bottom: 60%;
}


#home {
	background-repeat: no-repeat;
	 background-size: 100% 90%; 
}

.google-div {
	border-style: solid;
	border-width: medium;
}