    .navbar-nav {
      flex-direction: row;
    }
    
    .nav-link {
      float: right;
      margin: -7px -8px -8px -2px;
    }

      .current {
    color:black; 
    background-color: lightgray;
  }

  .navbar-default {
    background-color: blue;
  }