{% extends 'base.html' %}
{% block title %}ratethepauper - Ratings {% endblock %}
{% load static %}


{% block content %}
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <a href="#menu-toggle" class="menuopener" id="menu-toggle"><i class="fa fa-bars"></i></a>
			
            <div class="all-page-bar">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="title title-1 text-center">
								<div class="title--heading">
									<h1>Ratings</h1>
								</div>
								<div class="clearfix"></div>
								<ol class="breadcrumb">
									<li><a href="/">Home</a></li>
									<li class="active">Ratings</li>
								</ol>
								<div class="much">
									<img src="{% static 'images/enforcement.png' %}" alt=""/>
								</div>
							</div>
							<!-- .title end -->
						</div>
					</div>
				</div>
			</div><!-- end all-page-bar -->




<link rel="stylesheet" type="text/css" href="{% static 'css/mainratings.css' %}">



<!-- HERE ARE ALL THE LIVING ASPECTS IMAGES -->
{% include 'ratings_images.html' %}


<!--  CONTAINER TO SHOW STATS PLOTLY! -->
{% include 'ratings_stats.html' %} 

<!--  SHOULD BE A FORM  AREA -->
{% include 'ratings_form.html' %}


<!-- </div> end page content wrapper -->


<script src="{% static 'js/ratings_statsdiv.js' %}"></script>  
<script type="text/javascript">document.getElementById("form-Example").remove();</script>

<!-- OPEN PREVIOUSLY RATED ASPECT, without form -->
{% if messages %}
    {% for message in messages %}
    <script type="text/javascript">
    	console.log("{{message}}")
    	document.querySelectorAll("#stats-{{message}}").forEach(a=>a.style.display = "inline");
    	document.getElementById("form-{{message}}").remove();

    	document.getElementById("card-{{message}}").className = "hover-br-active mycard"
    	document.getElementById("stats-{{message}}").scrollIntoView();
    </script>
    {% endfor %}
{% endif %}



{% endblock %}
