{% extends 'base.html' %}
{% block title %}ratethepauper - Ratings {% endblock %}


{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mainratings.css' %}">

<div class="container">

<p>This area holds aspects of living to rate. Click them and you can rate them and see their statistics.</p>


<!-- HERE ARE ALL THE LIVING ASPECTS IMAGES -->
{% include 'ratings_images.html' %}



<!--  CONTAINER TO SHOW STATS PLOTLY! -->
{% include 'ratings_stats.html' %}


<!--  SHOULD BE A FORM  AREA -->


{% endblock %}
</div>	