{% extends 'base.html' %}
{% block title %}ratethepauper - Ratings {% endblock %}


{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mainratings.css' %}">

<div class="container">

<p>This area holds aspects of living to rate. Click them and you can rate them and see their statistics.</p>


<!-- HERE ARE ALL THE LIVING ASPECTS IMAGES -->
{% include 'ratings_images.html' %}

<!-- To not show stuff while loading... -->
<div class="replace-this" style="width:2000px;height:2000px"> </div> 


<!--  CONTAINER TO SHOW STATS PLOTLY! -->
{% include 'ratings_stats.html' %}


<!--  SHOULD BE A FORM  AREA -->
{% include 'ratings_form.html' %}




{% load static %}
<script src="{% static 'js/ratings_statsdiv.js' %}"></script>  
<script type="text/javascript">document.getElementById("form-Example").remove();</script>

<!-- OPEN PREVIOUSLY RATED ASPECT, without form -->
{% if messages %}
    {% for message in messages %}
    <script type="text/javascript">
    	document.querySelectorAll("#stats-{{message}}").forEach(a=>a.style.display = "inline");
    	document.getElementById("{{message}}").style.backgroundColor = "#BC8F8F"
    	document.getElementById("form-{{message}}").remove();
    </script>
    {% endfor %}
{% endif %}


{% endblock %}
