{% load ratings_tag %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>



<div class="wrapper">
{% for aspect in LivingAspects %}
<div class='infoi'>
<div id="stats-{{aspect.title}}" class="parallax section db parallax-off replace-this {{aspect.title}} col-sm-11  col-xs-11 col-md-5" style="visibility:hidden;overflow:hidden">
                <div class="container-fluid">
                    <div class="section-title row text-center">
                        <div class="col-md-8 col-md-offset-2">
                        <small>LET'S LOOK AT THE STATISTICS</small>
                        <h3> {{aspect.title}} </h3>
                        <hr class="grd1">
                        <p class="lead">The first figure shows the mean rating and our judgement. The paupergram figure shows all ratings of {{aspect.title}} over time, with the vertical red line being the mean. The last graph shows the mean rating per week.</p>
                        </div>
                    </div><!-- end title -->
                </div> <!-- end container -->

                <div class="stats-container">
	                    <div class="row">
	                    	
						{% autoescape off %}
								{% get_plotly aspect.title %}
							{% endautoescape %}
                                <!-- end testimonial -->
                    	</div><!-- end row -->
                </div>

            </div><!-- end section -->
<!-- </div>   -->
{% endfor %}
</div>  