.all-page-bar-contact {
  background: url("/static/images/waalbrug-bg.jpg?b2babd74a7db") no-repeat center;
  background-size: 100% 100%;
  position: relative; }

.all-page-bar-about {
  background: url("/static/images/lecturehall-bg.jpg?b2babd74a7db") no-repeat center;
  background-size: 100% 100%;
  position: relative; }
